{% extends "base.html" %}

{% block content %}

    <h1>Creating your character</h1>

        {% if form1 and num1 %}

            {% if msg1 and (msg2 and profs_str) %}
                <p>{{ msg1 }}</p>
                <p>{{ profs_str }}</p>
                <p>{{ msg2 }}</p>
            {% endif %}

	        <div>
	          <p>Choose {{ num1 }} proficiencies from this list:</p>
	          <form method="post">
	              {{ form1.hidden_tag() }}
	              {{ form1.field1 }}
	              <button type="submit">Submit</button>
	          </form>
	        </div>
        {% endif %}

        {% if msg3 %}
            {{ msg3 }}
            {% if num2 > 0 %}
                <a href="{{ url_for('chooseprofs2') }}">Continue</a>
            {% endif %}
            {% if num2 <= 0 %}
                <a href="{{ url_for('chooselangs') }}">Continue</a>
            {% endif %}
        {% endif %}

{% endblock %}