{% extends "base.html" %}

{% block content %}
    <h1>Create new D&D character</h1>
    
    {% if form and not form2 %}
    <div>
        <h2>Enter a name and select type, class, race, & alignment:</h2>
        <p>(You can change the name, type, and alignment later.)</p>
        <form method="post">
            {{ form.hidden_tag() }}
            {{ form.name_box }}
            {{ form.type_list }}
            {{ form.races_list }}
            {{ form.classes_list }}
            {{ form.alignment_list }}
            <button type="submit">Submit</button>
        </form>
    </div>
    {% endif %}

    {% if message %}
    <div>
        <h2>{{ message }}</h2>
        {% if name_pick %}
            <p id="namepick">Name: {{ name_pick }}</p>
        {% endif %}
        {% if type_pick %}
            <p id="typepick">Type: {{ type_pick }}</p>
        {% endif %}
        {% if race_pick %}
            <p id="racepick">Race: {{ race_pick }}</p>
        {% endif %}
        {% if class_pick %}
            <p id="classpick">Class: {{ class_pick }}</p>
        {% endif %}
        {% if align_pick %}
            <p id="alignpick">Alignment: {{ align_pick }}</p>
        {% endif %}
        {% if subrace %}
            <p id="subracepick">Subrace: {{ subrace }}</p>
        {% endif %}
    </div>
    {% endif %}

    {% if race_pick and (start_rolling and not form2) %}
        <div id="initialRolls">
            <p>Roll your ability scores, or use the default rolls.
               Bonuses will be added to these scores during the next step.
            </p>

            <p>Click "Done rolling" when you are finished.</p>
            <table>
                <tr>
                    <td id="roll0">15</td>
                    <td id="roll1">14</td>
                    <td id="roll2">13</td>
                    <td id="roll3">12</td>
                    <td id="roll4">10</td>
                    <td id="roll5">8</td>
                    <td><button type="button" onclick="showRoll(1)">Re-roll</button></td>
                    <td><button type="button" onclick="showRoll(2)">Use default rolls</button></td>
                </tr>
            </table>
            <button type="button" onclick="showScores()">Done rolling</button>
        </div>
        <div id="finalRolls" style="display:none;">
            <p>Great! These are your final rolls. Next, we'll assign each roll to an ability score.</p>
            <p>Then we'll add any increases from your race.</p>
            <p>Click "Continue" to proceed.</p>
            <table>
                <tr>
                    <td id="finalroll0"></td>
                    <td id="finalroll1"></td>
                    <td id="finalroll2"></td>
                    <td id="finalroll3"></td>
                    <td id="finalroll4"></td>
                    <td id="finalroll5"></td>
                </tr>
            </table>
            <a href="{{ url_for('createcharacter2') }}">Continue</a>
        </div>
    {% endif %}

    {% if form2 and (race_pick and not start_rolling) %}
    <div>
        <h2>Select subrace or "None":</h2>
        <form method="post">
            {{ form2.hidden_tag() }}
            {% if race_pick == "Elf" %}
                {{ form2.subrace1 }}
            {% endif %}
            {% if race_pick == "Dwarf" %}
                {{ form2.subrace2 }}
            {% endif %}
            {% if race_pick == "Halfling" %}
                {{ form2.subrace3 }}
            {% endif %}
            {% if race_pick == "Gnome" %}
                {{ form2.subrace4 }}
            {% endif %}
            <button type="submit">Submit</button>
        </form>
    </div>
    {% endif %}

{% endblock %}
