{% extends "base.html" %}

{% block content %}

    <h1>Creating your character:</h1>
    {% if myalign %}
      {% if myname %}
      <span id="chosenName">{{ myname }},</span>
      {% endif %}
      {% if mytype %}
      <span id="chosenType">{{ mytype }}</span>
      {% endif %}
      <span id="chosenAlign">{{ myalign }}</span>
      <span id="chosenRace">{{ myrace }}</span>
      <span id="chosenClass">{{ myclass }}</span>
      {% if mysubrace %}
      <span id="chosenSubrace">({{ mysubrace.name }})</span>
      {% endif %}
    <p>Assign each of your rolls to one of your abilities.</p>
    {% endif %}

    {% if thisrace %}
      <p>Keep in mind that your race will add the following increases:</p>
      <ul>
          <li>{{ thisrace.bonus1 }} to {{ thisrace.bonusname1 }}</li>
      {% if thisrace.bonus2 > 0 %}
          <li>{{ thisrace.bonus2 }} to {{ thisrace.bonusname2 }}</li>
      {% endif %}
      {% if thisrace.bonus3 > 0 %}
          <li>{{ thisrace.bonus3 }} to {{ thisrace.bonusname3 }}</li>
      {% endif %}
      {% if thisrace.bonus4 > 0 %}
          <li>{{ thisrace.bonus4 }} to {{ thisrace.bonusname4 }}</li>
      {% endif %}
      {% if thisrace.bonus5 > 0 %}
          <li>{{ thisrace.bonus5 }} to {{ thisrace.bonusname5 }}</li>
      {% endif %}
      {% if thisrace.bonus6 > 0 %}
          <li>{{ thisrace.bonus6 }} to {{ thisrace.bonusname6 }}</li>
      {% endif %}
      </ul>

      {% if thisrace.name == "Half-Elf" %}
          <p>Because your character is a Half-Elf, you will also get to choose {{ thisrace.numbonuschoices }} 
            abilities to increase by 1 from the following: {{ thisrace.bonusoptions }}</p>
      {% endif %}
      {% if mysubrace %}
          <p>Your subrace, {{ mysubrace.name }}, will also add {{ mysubrace.bonus1 }} to {{ mysubrace.bonusname1 }}.</p>
      {% endif %}

    {% endif %}

    {% if assign0 %}
    <h2>Your rolls:</h2>
    <div id="rollsToAssign">
      {% if form1 %}
      <form method="post">
          {{ form1.hidden_tag() }}
      <table>
        <tr>
          <td id="toassign0">{{ assign0 }}</td>
          <td id="toassign1">{{ assign1 }}</td>
          <td id="toassign2">{{ assign2 }}</td>
          <td id="toassign3">{{ assign3 }}</td>
          <td id="toassign4">{{ assign4 }}</td>
          <td id="toassign5">{{ assign5 }}</td>
        </tr>
        <tr>
          <td>{{ form1.abilities0 }}</td>
          <td>{{ form1.abilities1 }}</td>
          <td>{{ form1.abilities2 }}</td>
          <td>{{ form1.abilities3 }}</td>
          <td>{{ form1.abilities4 }}</td>
          <td>{{ form1.abilities5 }}</td>
        </tr>
      </table>
      <button type="submit">Done assigning</button>
      </form>
      {% endif %}
    </div>
    {% endif %}

    {% if success_message %}
    <p>{{ success_message }}</p>
    <table>
        <tr>
            <th>Strength (STR)</th><th>Dexterity (DEX)</th><th>Constitution (CON)</th>
            <th>Intelligence (INT)</th><th>Wisdom (WIS)</th><th>Charisma (CHA)</th>
        </tr>
        <tr>
            <td>{{ currstr }}</td><td>{{ currdex }}</td><td>{{ currcon }}</td>
            <td>{{ currint }}</td><td>{{ currwis }}</td><td>{{ currcha }}</td>
        </tr>
    </table>
    {% endif %}

    {% if message2 %}
    <p>{{ message2 }}</p>
    <table>
        <tr>
            <th>Strength (STR)</th><th>Dexterity (DEX)</th><th>Constitution (CON)</th>
            <th>Intelligence (INT)</th><th>Wisdom (WIS)</th><th>Charisma (CHA)</th>
        </tr>
        <tr>
            <td>{{ finalstr }}</td><td>{{ finaldex }}</td><td>{{ finalcon }}</td>
            <td>{{ finalint }}</td><td>{{ finalwis }}</td><td>{{ finalcha }}</td>
        </tr>
    </table>
    <a href="{{ url_for('createcharacter3') }}">Continue</a>
    {% endif %}

    {% if message3 %}
        <p>{{ message3 }}</p>
    {% endif %}
    
{% endblock %}
