{% extends "base.html" %}

{% block content %}
    <h1>D&D Classes</h1>
    <div>
    <h2>Displaying all classes:</h2>
    {% if allclasses %}
    <table>
        <tr><th>Class</th><th>Hit die</th><th>Saving throw proficiencies</th><th>Armor & weapon proficiencies</th></tr>
        {% for classname in allclasses %}
        <tr>
            <td>{{ classname.name }}</td><td>{{ classname.hitdie }}</td>
            <td>{{ classname.saveprofs }}</td><td>{{ classname.armweapprofs }}</td> 
        </tr> 
        {% endfor %}
    </table> 
    {% endif %}
    </div>
{% endblock %}
