{% extends "base.html" %}

{% block content %}
    <h1>D&D Equipment</h1>
    <div>
    <h2>Filter equipment:</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.category_list }}
        <button type="submit">Submit</button>
    </form>
    </div>
    <div>
    {% if allequip %}
    <table>
        <tr><th>Name</th><th>Category</th><th>Subcategory</th>
        <th>Cost</th><th>Weight</th><th>Description</th>
        </tr> 
        {% for equip in allequip %}
        <tr>
            <td>{{ equip.name }}</td><td>{{ equip.maincategory }}</td><td>{{ equip.secondcategory }}</td>
            <td>{{ equip.cost }}</td><td>{{ equip.weight }}</td><td>{{ equip.description }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>
    <div>
    {% if selectedequip %}
    <table>
        <tr><th>Name</th><th>Category</th><th>Subcategory</th>
        <th>Cost</th><th>Weight</th><th>Description</th>
        </tr>
        {% for equip in selectedequip %}
        <tr>
            <td>{{ equip.name }}</td><td>{{ equip.maincategory }}</td><td>{{ equip.secondcategory }}</td>
            <td>{{ equip.cost }}</td><td>{{ equip.weight }}</td><td>{{ equip.description }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>
{% endblock %}
