{% extends "base.html" %}

{% block content %}
    <h1>D&D Spells</h1>
    <div>
    <h2>Filter spells:</h2>
    <h3>Displaying spells:</h3>
    </div>
    <div>
    {% if allspells %}
    <table>
        <tr><th>Name</th><th>Level</th><th>School</th><th>Casting time</th><th>Range</th>
            <th>Duration</th><th>Classes</th><th>Description</th></tr>
        {% for spellname in allspells %}
        <tr>
            <td>{{ spellname.name }}</td><td>{{ spellname.level }}</td>
            <td>{{ spellname.school }}</td><td>{{ spellname.casttime }}</td>
            <td>{{ spellname.range }}</td><td>{{ spellname.duration }}</td> 
            <td>{{ spellname.casters }}</td><td>{{ spellname.description }}</td>
        </tr> 
        {% endfor %}
    </table> 
    {% endif %}
    </div>
{% endblock %}
